<div class="flex flex-wrap">
  @if (events$ | async; as events) {
    @for (event of events; track event.title) {
      <app-event-item
        class=" inline-flex w-2 p-3"
        [header]="event.title"
        [subheader]="event.title"
        [distance]="event.distance"
        [level]="event.difficultyLevel"
        [type]="event.eventType"
        [img]="event.img"
        [eventId]="event.eventId"
      >
      </app-event-item>
    } @empty {
      There is no open events right now...
    }
  }
</div>
