<div class="inline-flex">
<p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }" class="p-5">
  <ng-template pTemplate="header">
    <img alt="Card" src="/assets/coen-van-de-broek-OFyh9TpMyM8-unsplash.jpg" />
  </ng-template>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
    quas!
  </p>
  <ng-template pTemplate="footer">
    <p-button label="Save" icon="pi pi-check"></p-button>
    <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
  </ng-template>
</p-card>

<p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }" class="p-5">
  <ng-template pTemplate="header">
    <img alt="Card" src="/assets/coen-van-de-broek-OFyh9TpMyM8-unsplash.jpg" />
  </ng-template>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
    quas!
  </p>
  <ng-template pTemplate="footer">
    <p-button label="Save" icon="pi pi-check"></p-button>
    <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
  </ng-template>
</p-card>

<p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }" class="p-5">
  <ng-template pTemplate="header">
    <img alt="Card" src="/assets/coen-van-de-broek-OFyh9TpMyM8-unsplash.jpg" />
  </ng-template>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
    quas!
  </p>
  <ng-template pTemplate="footer">
    <p-button label="Save" icon="pi pi-check"></p-button>
    <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
  </ng-template>
</p-card>
</div>
