<div class="grid bg-white-alpha-70">
  <h2 class="col-12">Create New Event</h2>
  <div class="col-6">
    <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
      <div class="grid flex m-1">
        <label class="col-6 align-items-end">Event Type:</label>
        <p-dropdown  formControlName="eventType" class="col-6" styleClass="w-full"></p-dropdown>
      </div>
      <div class="grid flex m-1">
        <label class="col-6 align-content-end">Distance:</label>
        <input type="number" pInputText formControlName="distance" class="col-6">
      </div>
      <div class="grid flex m-1">
        <label for="difficultyLevel" class="col-6 align-items-end">Difficulty Level:</label>
        <input type="text" pInputText formControlName="difficultyLevel" class="col-6">
      </div>
      <div class="grid flex m-1">
        <label for="description" class="col-6 align-items-end">Description:</label>
        <textarea rows="5" cols="30" pInputTextarea formControlName="description" class="col-6"></textarea>
      </div>
      <div class="grid flex m-1">
        <label for="startDatetime" class="col-6 align-items-end">Start Date & Time:</label>
        <p-calendar formControlName="startDatetime" [iconDisplay]="'input'" [showIcon]="true" class="col-6"></p-calendar>
      </div>
      <div class="grid flex m-1">
        <label for="endDatetime" class="col-6 align-items-end">End Date & Time:</label>
        <p-calendar formControlName="endDatetime" [iconDisplay]="'input'" [showIcon]="true" class="col-6"></p-calendar>
      </div>
    </form>
  </div>
  <div class="col-6">
<!--    <app-map></app-map>-->
  </div>
  <div class="col-12" >
    <p-button type="submit" (onClick)="onSubmit()">Create Event</p-button>
  </div>
</div>

